* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A
}

.button {
    color: white;
    height: 64px;
    width: 150px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    padding: 18px 35px;
}

.button1 {
    color: white;
    width: 200px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    padding: 18px 35px;
}

/* Header and Nav Title */

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* Banner Styles */
.banner {
    display: flex;
    align-items: center;
    margin: 0px 200px;
}

.banner-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-sub-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    text-align: center;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0px auto;
}

/* About Section style */
.about-me {
    text-align: center;
    margin-top: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
}

.section-title {

    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.section-description {

    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    color: #757575;
    font-weight: 400;
    font-size: 20px;
}

.info-description {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}

/* what I do section*/

.what-i-do {
    margin-top: 140px;
    text-align: center;
    border-radius: 10px;
    padding: 130px 150px;
}

.what-info {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.what-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
}


.container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    text-align: left;
}

/* Resume */
.resume>h3 {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 120px;
}

.resume-content {
    display: flex;
    gap: 24px;

}

.section-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    text-align: left;
}

.resume .title {
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
}

.resume .sub-title {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume .description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

/* Contacts */
.contact {
    display: flex;
    gap: 120px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}

.contact-title {
    font-weight: 700;
    font-size: 35px;
}

.contact .contact-title {
    text-align: left;
}

.contact-description {
    font-weight: 400;
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;

}

.contact input[type="text"], input[type="email"], textarea 
{
    margin-bottom: 24px;
    border: 0px;
    padding: 18px 30px;
    width: 100%;

}

input {
    height: 60px;
}

